body{
    background-color: rgb(123, 140, 142);
}
header{
    color: rgb(43, 5, 59);
    margin-left: 42%;
    margin-right: 40%;
    font-size: x-large;
}
.sec1{
    display: flex;
    justify-content: center;
    margin-right: 0%;
    font-size: larger;
}
.art1{
    float: left;
    margin-left: 10%;
   
}
.art2{
    float: left;
    margin-left: 5%;
}
.art3{
    float: left;
    margin-left:5%;
}
footer{
    position: relative;
    height: 200px;
    margin-top: 400px;
    margin-left: 45%;
    margin-right: 40%;
   
}